<template name="Footer">
  <div class="footer">
      <div class="ui centered container">
        <a style="padding-top: 2%" href="{{pathFor 'Home_Page'}}"><img src="http://placehold.it/350x60"></a>
        <div style="padding-top: 15px" class="ui centered container foot">
          <hr>
          <p style="text-align: center; font-size: 0.9vw">
            <a href="{{ pathFor 'About_Us_Page' }}">About Manoa Dining Delivery</a>
          </p>
          <p style="text-align: center">
            ICS 314 Software Engineering I <br/>
            University of Hawaiʻi at Mānoa<br/>
            Terry, Raven, and Brendt
          </p>
        </div>
      </div>
  </div>
</template>
