<template name="Footer">
  <div class="footer">
      <div style="padding-top: 1em" class="ui centered container">
        <a href="{{pathFor 'Home_Page'}}"><img src="/images/mdd_logo_invert.png"></a>
        <div style="padding-top: 0.5em" class="ui centered container foot">
          <hr>
          <p style="text-align: center; font-size: 0.9vw">
            <a href="{{ pathFor 'About_Us_Page' }}">About Manoa Dining Delivery</a>
          </p>
          <p style="text-align: center">
            ICS 314 Software Engineering I <br/>
            University of Hawaiʻi at Mānoa
          </p>
          <p style="text-align: center; margin-top: -1.30%">
            Terry, Raven, and Brendt
          </p>
        </div>
      </div>
  </div>
</template>
