<template name="Header">
  <div class="ui grid header">
    <div class="six wide column">
      <a href="{{pathFor 'Home_Page'}}"><img src="http://placehold.it/350x60"></a>
    </div>
    <div class="two wide column header">
      <a style="color: black;" class="item" href="{{ pathFor 'View_All_Page' }}">View Requests</a>
    </div>
    <div style="margin-left: 2.1%" class="two wide column header">
      <div class="ui dropdown">
        Menus
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{{ pathFor 'Browse_Menu_Aloha' }}">Hale Aloha</a>
          <a class="item" href="{{ pathFor 'Browse_Menu_Gateway' }}">Gateway</a>
        </div>
      </div>
    </div>
    <div class="two wide column header">
      <div class="right aligned item">{{> Cas_Login}}</div>
      {{#if currentUser}}
      <!--<a style="color: black;" class="{{ isActiveRoute 'Edit_Profile_Page'}} item"-->
         <!--href="{{ pathFor 'Edit_Profile_Page' }}">Edit Profile</a>-->
      <a href style="color: black;" id="edit_profile"> Edit Profile </a>
      {{/if}}
    </div>
  </div>

  <script>
    $('.ui.dropdown')
        .dropdown();
  </script>

</template>