body {
  background-color: white;
}

.ui.centered.borderless.top.menu {
  box-shadow: none;
  border: none;
  background-color: #F7F7F7;
  margin-top: -2%;
}

.ui.borderless.container.header {
  margin-top: 1%;
}

.ui.centered.borderless.grid.container {
  margin-top: 1%;
}

.ui.centered.large.header {
  font-family: 'Cinzel';
}

.ui.centered.grid.container.home.page {
  margin-left: 20%;
}

.text.img {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Cinzel';
  bottom: 65%;
}

.ui.black.button {
  position: absolute;
  bottom: 60%;
}

.fitted.item.login {
  float: right;
  margin-top: 2%;
  font-size: 20px;
}

#hmpgText {
  font-family: 'Coda';
  font-size: 36px;
  margin-top: 13%;
  margin-left: 5%;
}

.ui.container.hmpg {
  background-color: #F7F7F7;
}

.eight.wide.column {
  margin-left: 5%;
}