html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.ui.grid.header {
  margin-left: 20%;
  margin-bottom: 0.5%;
  height: auto;
  width: auto;
  font-family: 'Arvo', sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.header.item {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10%;
  font-size: medium;
  font-weight: 500;
}

.ui.dropdown.header.item {
  color: grey;
  margin-left: 10%;
  font-size: medium;
  margin-bottom: 0px;
}
.two.wide.column.header {
  padding-top: 3%
}

.fitted.item.login {
  margin-top: 2%;
  font-size: 1.04vw;
}

.home.page {
  height: auto;
  width: auto;
}

.column.hmpg {
  background-color: #F7F7F7;
}

#hmpgText {
  font-family: 'Arvo', sans-serif;
  font-size: 2.4vw;
}

#hmpgTextSmall {
  font-family: 'Arvo', sans-serif;
  font-size: 1.04vw;
}

.hmpgText.top {
  margin-top: 21.5%;
  margin-left: 41.5%;
  color: #329900;
}

.hmpgText.mid {
  margin-top: 1%;
  margin-left: 41.5%;
  color: black;
  font-size: 1.65vw;
  text-align: center;
}

.ui.centered.container.TCG {
  height: auto;
  padding-bottom: 1%;
}

.large.ui.button {
  margin-left: 62.5%;
  margin-top: -5%;
}

.hmpg.img {
  margin-left: 3%;
}

.ui.centered.container.TCG {
  margin-top: 4%;
  margin-bottom: 4%;
}

.ui.container.hmpg {
  background-color: #F7F7F7;
}

.ui.three.column.grid {
  margin-left: 8%;
}

#triColHead {
  font-size: 1.9vw;
  margin-bottom: -2%;
  font-family: 'Arvo', sans-serif;
}

#triColBody {
  font-size: .9vw;
}

.ui.centered.container.foot {
  color: white;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Arvo', sans-serif;
}

.view.all.p1 {
  text-align: center;
  font-size: 18px;
  margin-top: 2%;
}
.view.all.p2 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-top: 2%;
}

th {
  font-size: 1.05vw;
  font-family: 'Arvo', sans-serif;
}

td {
  font-size: 1vw;
  font-family: 'Arvo', sans-serif;
}

.footer {
  display: block;
  position: absolute;
  background-color: black;
  width: 100%;
}

#main-wrapper {
  min-height: 100%;
  height: 100% !important;
}

#white-space {
  padding-bottom: 20.5%;
}

#__blaze-root {
  min-height: 100%;
  height: auto;
  flex-direction: column;
}

.ui.segment, ui.secondary.pointing.menu {
  border: none;
  box-shadow: none;
}

.homepageText {
  font-family: 'Arvo', sans-serif;
  font-size: x-large;
  white-space: nowrap;
  margin-bottom: 5%;
}
.homepageText.top {
  color: #329900;
}
.homepageText.bottom {
  font-size: larger;
  color: rgba(0, 0, 0, 0.6);
}

.large.ui.button.homepageButton {
  margin: 0 0 0 0;
}

.homepageUl {
  list-style-type: none;
  margin: 25% 25% 25% 40%;
}

h2 {
  font-family: 'Arvo', sans-serif;
  font-size: 24px;
}

#aboutUs {
  font-size: 16px;
}